@model BD_PR_01_Clinicas.Models.tbTipoSangre

@{
    ViewBag.Title = "CambiarEstado";
}

@if (Model.estado == true)
{
    <h2>Deshabilitar</h2>

    <h3>¿Realmente quieres deshabilitar este tipo de sangre?</h3>
}
else
{
    <h2>Habilitar</h2>

    <h3>¿Realmente quieres habilitar este tipo de sangre?</h3>
}

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Categoría")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipoSangre)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @if (Model.estado == true)
            {
                <button type="submit" class="btn btn-danger">
                    <span class="glyphicon glyphicon-trash"></span> Deshabilitar
                </button>
            }
            else
            {
                <button type="submit" class="btn btn-info">
                    <span class="glyphicon glyphicon-record"></span> Habilitar
                </button>
            }
            <a class="btn btn-primary" href="/TipoSangre"><span class="glyphicon glyphicon-arrow-left"></span> Regresar</a>
        </div>
    }
</div>
