
@{
    ViewBag.Title = "Informacion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>No esta permitida esta accion</h2>
<p>Para poder registrarse, por favor informe al administrador, para que le habilite esta opciòn.</p>

