@model IEnumerable<BD_PR_01_Clinicas.Models.tbUsuario>

<ul class="list-group">
    <li class="list-group-item list-group-item-heading list-group-item-info">
        <div class="row">
            <div class="col-xs-4 text-left">
                <b>Nombre</b>
            </div>
            <div class="col-xs-3 text-left">
                <b>carnet</b>
            </div>
            <div class="col-xs-3 text-left">
                <b>Fecha Nacimiento</b>
            </div>
            <div class="col-xs-2"></div>
        </div>
    </li>

    @foreach (var item in Model)
    {
        //Contenido
        <li class="list-group-item">

            <div class="row">
                <div class="col-xs-4 text-left">
                    @item.nombre
                </div>
                <div class="col-xs-3 text-left">
                    @item.carnet
                </div>
                <div class="col-xs-3 text-left">
                    @item.fechaNacimiento.ToShortDateString()
                </div>
                <div class="col-xs-2 text-left">
                    <button type="button" class="btn btn-xs btn-success" onclick="Asignar(@item.codUsuario)">
                        <span class="glyphicon glyphicon-check"></span> Asignar
                    </button>
                </div>
            </div>
        </li>
    }

</ul>