<br /><br />
<div class="container">
    <div class="jumbotron">
        <h2 text-center>CLINICA FAMILIAR UNIVERSITARIA</h2>
        <h3 text-center>CENTRO UNIVERSITARIO DEL NORTE "<strong>CUNOR</strong>"</h3>
        <p text-center>Desarrollado por los alumnos de la carrera de</p>
        <p text-center><strong>Ingeniería en Ciencias y Sistemas</strong> del 7mo Ciclo </p>
        <p text-center>Desarrolladores: Pedro V. S. y Gerardo C. Y.</p>
        <p><small>Año 2018</small></p>
    </div>
</div> 