@{
    ViewBag.Title = "A CERCA DE";
}
<h2>CLINICA FAMILIAR UNIVERSITARIA</h2>
<h3>CENTRO UNIVERSITARIO DEL NORTE "CUNOR"</h3>
<p>Desarrollado como un proyecto de Ingenieria en Ciencias y Sistemas 7mo Ciclo </p>
<p>Desarrolladores: Pedro V. Stalling y Gerardo C. Yat</p>
<p>Año 2018</p>