@{
    ViewBag.Title = "Inicio";
}

@*<div class="jumbotron">
    <h1>Clinica Familiar</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>*@

<div class="jumbotron">
    <div class="row">
        <div class="col-md-7">
            <h1>Clinica Familiar</h1>
        </div>
        <div class="col-md-3">
            <img src="@Url.Content("~/Images/LogoUSAC.png")" width="200px" height="200px" alt="imgf" />
        </div>
    </div>


    @*<p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Consultas</h2>
        <p>
            Creación de nuevas consultas y el <br />
            listado de pacientes en espera.
        </p>
        <p>
            <a href="@Url.Action("Index", "Atencion")" class="btn btn-primary">
                Ver <span class="glyphicon glyphicon-menu-right"></span>
            </a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Pacientes</h2>
        <p>
            Ver pacientes y la historia clínica.
        </p>
        <p>
            <a href="@Url.Action("Index", "Pacientes")" class="btn btn-primary">
                Ver <span class="glyphicon glyphicon-menu-right"></span>
            </a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Medicamentos</h2>
        <p>
            Entregar medicamento a los pacientes y todas las entregas realizadas.
        </p>
        <p>
            <a href="@Url.Action("Index", "EntregaMedicamento")" class="btn btn-primary">
                Ver <span class="glyphicon glyphicon-menu-right"></span>
            </a>
        </p>
    </div>
</div>